$obtained-color: #7C296A;
$button-color: #479030;
$toggle-off-color: #A33643;
$beet-white: #F6EDF4;

body {
	background-color: #222;
	color: $beet-white;
	padding: 28px 6px;
	font-family: sans-serif;
}

span {
	font-size: 14px;
}

button {
	background-color: $button-color;
	border-radius: 2px;
	border: 1px solid $beet-white;
	padding: 4px 20px;
	margin: 6px 6px 0 6px;
}

h2 {
	margin-top: 0px;
}

.top-stuff {
	display: flex;
	justify-content: space-around;
}

.top-col {
	flex-basis: 300px;
}

.unit-name {
	display: inline;
}

.upgrades {
	button {
		position: relative;
	}

	.bar {
	    position: absolute;
	    width: 1%;
	    height: 100%;
	    background-color: green;
	}
}

.obtained-upgrade {
	background-color: $obtained-color;
}

/* The colorful bar that grows depending on the progress */

.tz-bar{
	background-color:$obtained-color;
	height:3px;
	bottom:0;
	left:0;
	width:0;
	position:absolute;
	z-index:1;

	border-radius:2px;

	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
	transition-timing-function: linear;
}

/* The bar can be either horizontal, or vertical */

.background-horizontal{
	height:100%;
}

.upgrade-title {
	position: relative;
	z-index: 2;
}

@-webkit-keyframes fadeout{
    0%{opacity:1;visibility:visible;}
    99%{opacity:0;}
    100%{opacity:0;visibility: hidden;}
}
.fadeout {
    -webkit-animation:fadeout 1s linear;
    visibility:hidden;
}
@-webkit-keyframes fadein{
    0%{opacity:0;visibility:visible;}
    100%{opacity:1;}
}
.fadein {
    -webkit-animation:fadein 1s linear;
}

.toggle-button {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px;
	border-radius: 0 2px 2px 0;
}

.toggle-off {
	background-color: $toggle-off-color;
}

.toggleable-skill-button {
	margin-right: 0;
	border-radius: 2px 0 0 2px;
}

.toggle-icon {
	opacity: .6;
	max-width: 70%;
	max-height: 70%;
}

.slider.slider-horizontal {
	width: 145px;
}

.slider-track {
	background-image: none;
	background-color: #F6EDF4;
	border-radius: 2px;
}

.slider-selection {
	background: transparent;
	border-radius: 2px;
}

.slider-handle {
	border: 1px solid $beet-white;
	background-color: $button-color;
	background-image: none;
	width: 30px;
	margin-left: -15px !important;
	text-align: center;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slider-handle.round {
	border-radius: 8%;
}

.slider-label {
	vertical-align: middle;
}

.slider-label-left {
	margin-right: 5px;
}

.slider-label-right {
	margin-left: 5px;
}