$beet-color: #801826;
$secondary-color: #2C7216;
$toggle-off-color: #A73B4A;
$beet-white: #F6EDF4;
$accent-color: #105648;
$dark-purple: #3E0030;
$seed-color: #291917;

$border-radius: 2px;
$border: 1px solid $beet-white;

body {
	background-color: #222;
	color: $beet-white;
	padding: 28px 6px;
	font-family: sans-serif;
}

span {
	font-size: 14px;
}

button {
	background-color: $secondary-color;
	border-radius: $border-radius;
	border: $border;
	padding: 4px 20px;
	margin: 6px 6px 0 6px;
}

h2 {
	margin-top: 0px;
}

.level-bar {
	width: 200px;
	height: 15px;
	background-color: $beet-white;
	border-radius: $border-radius;
	border: $border;
	overflow: hidden;
}

.level-progress-fill {
	width: 0px;
	height: 15px;
	background-color: $beet-color;
	border-radius: $border-radius;
}

.top-stuff {
	display: flex;
	justify-content: space-around;
}

.top-col {
	flex-basis: 300px;
}

.unit-name {
	display: inline;
}

.unavailable {
	background-color: #555;
}

.upgrades {
	button {
		position: relative;
	}

	.upgrade-button:hover {
		border: 1px solid $accent-color;
	}

	.obtained-upgrade {
		background-color: $beet-color;
	}

	.bar {
	    position: absolute;
	    width: 1%;
	    height: 100%;
	    background-color: green;
	}
}

.settings {
	select {
		color: black;
	}
}

/* The colorful bar that grows depending on the progress */

.tz-bar{
	background-color:$beet-color;
	height:3px;
	bottom:0;
	left:0;
	width:0;
	position:absolute;
	z-index:1;

	border-radius:$border-radius;

	-webkit-transition: width 0.5s, height 0.5s;
	-moz-transition: width 0.5s, height 0.5s;
	transition: width 0.5s, height 0.5s;
	transition-timing-function: linear;
}

/* The bar can be either horizontal, or vertical */

.background-horizontal{
	height:100%;
}

.upgrade-title {
	position: relative;
	z-index: 2;
}

@-webkit-keyframes fadeout{
    0%{opacity:1;visibility:visible;}
    99%{opacity:0;}
    100%{opacity:0;visibility: hidden;}
}
.fadeout {
    -webkit-animation:fadeout 1s linear;
    visibility:hidden;
}
@-webkit-keyframes fadein{
    0%{opacity:0;visibility:visible;}
    100%{opacity:1;}
}
.fadein {
    -webkit-animation:fadein 1s linear;
}

.toggle-button {
	padding-left: 5px;
	padding-right: 5px;
	margin-left: -5px;
	border-radius: 0 $border-radius $border-radius 0;
}

.toggle-off {
	background-color: $toggle-off-color;
}

.toggleable-skill-button {
	margin-right: 0;
	border-radius: $border-radius 0 0 $border-radius;
}

.toggle-icon {
	opacity: .6;
	max-width: 70%;
	max-height: 70%;
}

.slider.slider-horizontal {
	width: 145px;
}

.slider-track {
	background-image: none;
	background-color: $beet-white;
	border-radius: $border-radius;
}

.slider-selection {
	background: transparent;
	border-radius: $border-radius;
}

.slider-handle {
	border: $border;
	background-color: $secondary-color;
	background-image: none;
	width: 30px;
	margin-left: -15px !important;
	text-align: center;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.slider-handle.round {
	border-radius: 8%;
}

.slider-label {
	vertical-align: middle;
}

.slider-label-left {
	margin-right: 5px;
}

.slider-label-right {
	margin-left: 5px;
}

.bottom-stuff {
	margin-top: 15px;
}

.beet-farm td {
	width: 50px;
	height: 50px;
	border: $border;

	.farm-beet {
		position: relative;
		width: 10px;
		height: 10px;
		margin: 0 auto;
		background-color: $seed-color;
		transition-timing-function: linear;
		transition-property: width, height, background-color;
		border-radius: 100%;
		overflow: hidden;
	}
}